/* utilidades */
@import "./utilidades/componentes.css";

/* globais */
@import "./global/global.css";
@import "./utilidades/tipografia.css";
@import "./utilidades/cores.css";

@import "./global/header.css";
@import "./global/footer.css";

/* home */
@import "./home/introducao.css";
@import "./home/tecnologias.css";
@import "./home/parceiros.css";
@import "./home/depoimentos.css";
@import "./home/seguros.css";

/* termos */
@import "./termos/termos.css";

/* bicicletas */
@import "./bicicletas/bicicletas-lista.css";
@import "./bicicletas/bicicletas.css";
@import "./bicicletas/bicicleta-unica.css";
@import "./bicicletas/seguro.css";

/* seguros */
@import "./seguros/seguros.css";
@import "./seguros/vantagens.css";
@import "./seguros/perguntas.css";
