.bicicletas-lista {
  padding-top: 60px;
  padding-bottom: 200px;
}

.bicicletas-lista h2 {
  padding: 0 20px 20px 20px;
  margin-bottom: 40px;
}

.bicicletas-lista ul {
  display: flex;
  gap: 40px;
  padding: 0 20px;
  max-width: 1400px;
  margin: 0 auto;
  overflow-x: auto;
}
.bicicletas-lista li {
  flex: 1;
  min-width: 280px;
}

.bicicletas-lista a {
  display: block;
}

.bicicletas-lista img {
  margin-bottom: 16px;
}

.bicicletas-lista h3 {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

.bicicletas-lista h3:before {
  content: "";
  display: inline-block;
  height: 8px;
  width: 12px;
  background: var(--gd);
  margin-right: 8px;
}

.bicicletas-lista a:hover h3:before {
  width: 20px;
  transition: width 0.2s;
}


.bicicletas-lista ul li span {
  margin-left: 20px;
}

@media (max-width: 800px) {
  .bicicletas-lista {
    padding-bottom: 60px;
  }

  .bicicletas-lista ul {
    gap: 20px;
  }
}
