:root {
  --cor-w: #ffffff;
  --cor-0: #f5f5f5;
  --cor-1: #e0e0e0;
  --cor-2: #cccccc;
  --cor-3: #b8b8b8;
  --cor-4: #a3a3a3;
  --cor-5: #8f8f8f;
  --cor-6: #7a7a7a;
  --cor-7: #666666;
  --cor-8: #525252;
  --cor-9: #3d3d3d;
  --cor-10: #292929;
  --cor-11: #141414;
  --cor-12: #000000;
  --cor-p1: #ffbb00;
  --cor-p2: #e4a30b;
  --cor-p3: #a66e00;
  --cor-p4: #664400;
  --cor-p5: #332200;
  --gd: linear-gradient(#ffe600, #ff7a00);
}
.cor-w {
  color: var(--cor-w);
}
.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
.cor-8 {
  color: var(--cor-8);
}
.cor-9 {
  color: var(--cor-9);
}
.cor-10 {
  color: var(--cor-10);
}
.cor-11 {
  color: var(--cor-11);
}
.cor-12 {
  color: var(--cor-12);
}
.cor-p1 {
  color: var(--cor-p1);
}
.cor-p2 {
  color: var(--cor-p2);
}
.cor-p3 {
  color: var(--cor-p3);
}
.cor-p4 {
  color: var(--cor-p4);
}
.cor-p5 {
  color: var(--cor-p5);
}
.cor-gd {
  background: var(--gd);
}
.cor-especial {
  background: linear-gradient(180deg, #ffe600 0%, #ff7a00 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}