.footer-bg {
  padding-top: 120px;
  padding-bottom: 30px;
  background: linear-gradient(180deg, #141414 0%, #000000 13.58%);
}
.footer {
  max-width: 1200px;
  margin: 0 auto;
}

.footer__grid {
  display: grid;
  grid-template-columns: 4fr 5fr 3fr;
  gap: 80px;
}

.footer__title{
  margin-bottom: 36px;
  text-transform: uppercase;
}
.contatos li {
  position: relative;
}
.footer__tel::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../../img/icons/address/tel-icon.svg");
  top: 10px;
  left: -30px;
}
.footer__email::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../../img/icons/address/mail-icon.svg");
  top: 10px;
  left: -30px;
}
.footer__endereco::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url("../../img/icons/address/place-icon.svg");
  top: 23px;
  left: -30px;
}
.footer li {
  margin-bottom: 8px;
}

.footer a:hover {
  color: var(--cor-w);
}
.footer__endereco {
  border-top: 1px solid var(--cor-7);
  border-bottom: 1px solid var(--cor-7);
  padding: 16px 0;
  margin: 20px 0;
}

.footer-medias {
  display: flex;
  margin-top: 24px;
  gap: 32px;
  align-items: center;
  cursor: pointer;
}

.footer_copy {
  display: block;
  padding-top: 64px;
  text-align: center;
}

@media (max-width: 800px) {
  .footer-logo {
    display: none;
  }
  .footer__grid {
    display: grid;
    grid-template-columns: 8fr 4fr;
    gap: 40px;
  }
  .footer__contato {
    padding-left: 40px;
  }
}
@media (max-width: 600px) {
  .footer__grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .footer__grid>div {
    justify-content: center;
    align-self: center;
    align-items: center;
    
  }
  .footer__contato {
    padding-left: 30px;
  }
}

